<main>
    <section>
        <div class="logo">
            <img src="/HashTag.svg" alt="">

            <h2>{{title}}</h2>
        </div>

        <ng-content></ng-content>

        <div class="button-container">
            <button class="btn-principal" (click)="submit()">
                {{btnPrincipal}}
            </button>

            <div class="divider">
            </div>

            <button class="btn-secundario" (click)="navigate()">
                {{btnSecundario}}
            </button>
        </div>
    </section>
</main>